<!DOCTYPE html>
<html>
  <head>
    <title>HackNcV1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "default" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1><a href='index'>NC Hack 2016: Map-a-Meeting Project Thing</a></h1>
    <a href='about'>About PLACEHOLDER</a>
    <a href='event/new'>New Event PLACEHOLDER</a>   
    <%= yield %>
  </body>
</html>
